<% if @no_sessions %>
  <div class="no-sessions-banner p-4">
    <p class="text-center mb-0">There are no sessions in <%= params[:search][:neighborhood].capitalize %>. Check out our other sessions below! 👇</p>
  </div>
<% end %>

<div class="d-flex">
  <div class="container-cards-details">
    <% @sessions.each do |session| %>
      <div class="session-details">
        <img src="<%= session.picture_url %>" />
        <div class="session-info">
          <h2><%= session.movie %></h2>
          <p>Date: <%=session.date.to_date %></p>
          <p>Neighborhood: <%=session.neighborhood %></p>
          <p>Price: $<%=session.price %></p>
          <% if session.capacity == 0 || session.capacity.nil? %>
            <p>Sold out!</p>
          <% else %>
            <p>Capacity: <%=session.capacity %></p>
          <% end %>
          <%= link_to 'See details', session_path(session), class: 'float-right' %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

