<h1>Secret Movies</h1>

<div class="container">
  <h4>Pick a neighborhood</h4>
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
<a class="btn btn-gradient" href="#">Start now</a>
</div>





<div class="cards">
<%= render partial: '/shared/card', locals: { picture:'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcReK-PKsiDepwOj-RQX3j_8OkMsyVRMSjXhN5IJU4QXo7dwnhzP' } %>
<%= render partial: '/shared/card', locals: { picture:'https://m.media-amazon.com/images/M/MV5BMzQ3NTQxMjItODBjYi00YzUzLWE1NzQtZTBlY2Y2NjZlNzkyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg' } %>
<%= render partial: '/shared/card', locals: { picture:'https://m.media-amazon.com/images/M/MV5BMWU0MGYwZWQtMzcwYS00NWVhLTlkZTAtYWVjOTYwZTBhZTBiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg' } %>
<%= render partial: '/shared/card', locals: { picture:'https://m.media-amazon.com/images/M/MV5BNDQ2YWVmZjEtMTE1ZS00MDk1LTg5ODUtMDVlODk0OTM2ODMwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_SX675_AL_.jpg' } %>
<%= render partial: '/shared/card', locals: { picture:'https://m.media-amazon.com/images/M/MV5BN2NiMjEyZjAtNzYyYi00YjI3LThhZTYtMzkyZTkxYzgwMzI2XkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg' } %>
</div>

