<div class="container-cards-details">

  <% @sessions.each do |session| %>
    <div class="session-details">
      <img src="<%= session.picture_url %>" />
      <div class="session-info">
        <h2><%= session.movie %></h2>
        <p>Date: <%=session.date.to_date %></p>
        <p>Neighborhood: <%=session.neighborhood %></p>
        <p>Price: $<%=session.price %></p>
        <p>Capacity: <%=session.capacity %></p>
      </div>
    </div>
  <% end %>
</div>


<div id="map">map</div>
</div>
