<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="ml-4 pl-3">
        <%#= link_to 'Go back', sessions_path %>
        <%= link_to 'Go back', :back %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center py-3 my-5">
    <div class="col-12 col-lg-7 mr-5">
      <div class="session-description m-2 p-2">
        <h2><%= @session.movie %></h2>
        <p class="pt-3"></p>
        <p><%= @session.description %></p>
        <p class="pt-4">Neighborhood: <%= @session.neighborhood %></p>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-3 border rounded">
      <div class="session-booking-card">
        <div class="session-date">
          <p>Date: <%= @session.date.to_date %></p>
          <p>Time: <%= @session.date.to_s(:time) %></p>
        </div>
        <p>Price: $ <%= @session.price %></p>
        <p>Location: It's a secret!</p>
        <% if @session.user == current_user %>
          <p><%= link_to 'See bookings', session_bookings_path(@session), class:"btn btn-dark mt-5", style: "width:100%" %></p>
          <div class="session-actions mt-4">
            <% if policy(@session).edit? %>
              <%= link_to 'Edit session', edit_session_path(@session), class:"btn btn-outline-dark" %>
            <% end %>
            <% if policy(@session).destroy? %>
              <%= link_to 'Cancel session', session_path(@session), method: :delete, class:"btn btn-outline-dark" %>
            <% end %>
          </div>
        <% else %>
          <div class="session-actions mt-4">
            <%= link_to 'Share', '#', class:"btn btn-outline-dark", id:"share-btn" %>
            <% if policy(Booking).create? %>
              <%= link_to 'Buy ticket!', new_session_booking_path(@session) , class:"btn btn-dark" %>
            <% end %>
          </div>
          <div class="social-buttons d-none pt-2" id="social-btns">
            <%= rails_social_share_button_tag ('Check this out!! Secret Sessions!!'+ "      "   + request.base_url + request.fullpath) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 mt-5">
      <div class="ml-4">
        <% if @session.user == current_user %>
          <div class="col-12 my-session-actions">
            <p class="created-by">created by You</p>
          </div>
        <% else %>
          <p class="created-by">created by <%= @session.user.email %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--
  -->
