<h3>Dashboard</h3>
<div class="dashboard-container">

  <div class="upcoming-sessions">
    <h3> Upcoming Sessions </h3>

  <div class="container-cards-details">
    <% @upcoming.each do |session| %>
      <div class="session-details">
        <img src="<%= session.picture_url %>" />
        <div class="session-info">
          <h2><%= session.movie %></h2>
          <p>Date: <%=session.date.to_date %></p>
          <%= link_to 'See details', session_path(session), class: 'float-right' %>
        </div>
      </div>
    <% end %>
  </div>
  </div>

<div class="upcoming-sessions">
    <h3> Past Sessions </h3>

<div class="container-cards-details">
    <% @past.each do |session| %>
      <div class="session-details">
        <img src="<%= session.picture_url %>" />
        <div class="session-info">
          <h2><%= session.movie %></h2>
          <p>Date: <%=session.date.to_date %></p>
          <%= link_to 'See details', session_path(session), class: 'float-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


