<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="ml-5 pl-3">
        <%= link_to 'Go back', sessions_path %>
      </div>
    </div>
    <div class="col-6">
      <div class="ml-5 pl-3">
        <p>Created by you! </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center border rounded py-3 my-5">
    <div class="col-12 col-lg-4">
      <div class="session-description m-2 p-2">
        <%= render '/shared/session-poster', session: @session %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="session-booking-card p-4">
        <div class="session-date">
          <p>Date: <%= @session.date.to_date %></p>
          <p>Time: <%= @session.date.to_s(:time) %></p>
        </div>
        <div class="session-address">
          <p>Address: <%= @session.address %></p>
          <p>Neighborhood: <%= @session.neighborhood %></p>
        </div>
        <p>Price: $ <%= @session.price %></p>
        <p class="pt-3">Total revenue as of <%= DateTime.now.to_date %>: $ <%= (@session.bookings.map(&:total).reduce(&:+) || 0).round(2) %></p>
        <p class="pt-3">Session's bookings:</p>
        <% @bookings.each do |booking| %>
          <p class="pl-2"><%= booking.user.email %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


