<div class="container booking-fields">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="ml-4 pl-3">
        <%= link_to 'Go back', @session %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-12 col-lg-7 mr-5">
      <div class="session-description m-2 p-2">
        <h2><%= @session.movie %></h2>
        <p class="pt-3"></p>
        <p><%= @session.description %></p>
        <p class="pt-4">Neighborhood: <%= @session.neighborhood %></p>
        <h3 class="mt-5 booking-rules">Rules</h3>
        <p class="booking-rules-info">It is not allowed to enter a Secret Session while carrying alcoholic beverages, food, or professional cameras /video cameras.</p>
        <p class="booking-rules-info">Once you leave the grounds, you will not be able to get in again.</p>
      </div>
    </div>

    <div class="col-12 col-lg-4 border rounded">
      <div class="session-booking-card">
        <div class="session-date">
          <p>Date: <%= @session.date.to_date %></p>
          <p>Time: <%= @session.date.to_s(:time) %></p>
        </div>
        <p>Price: $ <span id="booking-price"><%= @session.price %></span></p>
        <p>Address: It's a secret!</p>

        <h5 class="mt-5">Get tickets to <%= @session.movie %>!</h5>

        <% if @session.capacity == 0 || @session.capacity.nil? %>
          <p class="mt-5">Sorry, this session is sold out!</p>
        <% else %>
          <%= simple_form_for [@session, @booking] do |f| %>

            <div class="mt-4 form-inputs">
              <%= f.input :quantity, label: false, prompt: "How many?", collection: 1..@session.capacity %>
            </div>

            <p>Total: <span id="booking-total">$ 0</span></p>

            <div class="mt-2 form-actions">
              <%= f.submit "Pay instantly!", class: "btn btn-dark" %>
            </div>

          <% end %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


