<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80);">

  <div>
    The concept of 'secret gigs', but for films
  </div>

  <div class="form-container" id="form-box">
    <h4>Enter a neighborhood</h4>

    <%= simple_form_for :search, url: sessions_path, method: :get, id: 'searchForm' do |f| %>

      <div class="search-form-control form-group">
        <%= f.input :neighborhood, label: false, class: 'form-control string required', id:"address", placeholder: "Example: Chiado" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Search", class: "btn btn-gradient btn-margin" %>
      </div>

    <% end %>
  </div>
</div>

<div class="posters">
  <% @sessions.each do |session| %>
    <%= link_to session_path(session) do %>
      <%= render '/shared/session-poster', session: session %>
    <% end %>
  <% end %>
</div>
